*{
    margin:0;
    padding: 0;

}
.hero{
    background-image: url('img/hero_bg.jpeg');
    background-size:cover ;
    height: 80vh;
    width: 100%;
    background-position: center;

}
.hero h1{
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    text-align: center;
}
.hero p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .navbar img{
    height: 30px;
    margin: 20px;
    
}
.navbar li{
    display: inline;
    padding: 20px;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;

}
.getstarted{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.middleText button{
    background-color: #ec1d24;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 175px;
    font-weight: bold;

}
.middleText h2{
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
}
.middleText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.howItWorks img{
    width: 100px;
}
.howItWorks h1{
    text-align: center;
    font-family: sans-serif;
    color: rgb(94, 92, 92);
    font-size: 50px;
    margin-top: 100px;
}
.options{
    display: flex;
    justify-content: center;
    text-align: center;

}
.options h2{
    font-family: sans-serif;
    font-size: 20px;
   

}
.options p{
    width: 300px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color:gray
   
}

.howItWorks button{
    background-color: #ec1d24;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 280px;
    font-weight: bold;
    margin-top: 50px;


}
.howItWorks{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.benefits h1 { 
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left:150px;
}
.benefits{
    background-image: url('img/box_bg.jpeg') ;
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-position: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
   
}

.benefitsOptions{
    display: flex;
    flex-direction: column;
    margin-top: 15px;  
}

.benefits img{
    width: 70px;
    margin-left:151px;
}

.benefits h2 { 
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin-left:128px;
}
.benefits p { 
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
}
.weeklyBox{
    margin-top: 40px;
    margin-left:150px;
}
.ingredients{
    margin-top: 40px;
    margin-left:150px;
}
.cards{
    margin-top: 40px;
    margin-left:150px;
}
.ratings{
    color: rgb(255, 136, 0);
    font-size: 30px;
}
.customers h1{
    color: rgba(56, 55, 55, 0.842);
  font-size: 50px;
  font-family: sans-serif;
}
.customers{
    text-align: center;
    margin-top: 50px;

}
.customers p{
    color: rgba(77, 74, 74, 0.842);
  font-size: 30px;
  font-family: sans-serif;
}
.ratingsBox{
    display:flex;
    width:100%;
    justify-content: center;
}
.reviews p{
    font-size: 18px;
    font-weight: lighter;
    font-family: sans-serif;
}
.facebook{
    font-size: 20px;
    color: rgb(22, 22, 202);

}
.reviews{
    
    display:flex;
    width:100%;
    justify-content: center;
}
.comments{
    display: flex;
    justify-content: center;
   

}
.comments img{
    border-radius: 8px;


}
.comments p{
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif;  
    width: 300px;
}
.elena{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.anne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration{
    background-image: url('img/HC_BeefFajitasBellpeppers.jpeg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-position: center;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
 
}
.inspiration h1{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 50px;

}
.meals p{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 50px;
    font-weight: bold;

}
.meals{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.meals button{
    background-color: #ec1d24;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 310px;
    font-weight: bold;
   
}
.dots{
    display: flex;

}

.dotItem{
    background-color: gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
}
.dotItemRed{
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
}
.partners{
   
    margin-top: 50px;
}
.partnersImg{
    display: flex;
    justify-content: center;
    
}
.partnersImg img{
    width: 50px;
    margin-left: 60px;

}
.partnersImg h1{
    font-size: 15px;
    font-family: sans-serif;
    width: 350px;

}
.tok2016{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;

}
.tok2017{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;


}
.partnersLogo{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;

}
.partnersLogo img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.olivia{
    background-image: url('img/chef_bg.jpeg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    margin-top: 100px;

}
.oliviaChef{
    margin-top: 200px;
    margin-left: 100px;
    padding: 40px 0 0 0;
}
.oliviaChef h1{
    color: white;
    font-size: 38px;
    font-family: sans-serif;
    margin-top: 50px;
    

}
.oliviaChef p{
    color: white;
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif;
    width: 500px;
    margin-top: 25px;


}
.oliviaChef button{
    background-color: #ec1d24;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 260px;
    font-weight: bold;
    margin-top: 25px;

}
